.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    min-height: calc(100vh);
    background-color: rgb(17 28 67);
    color: white;
    padding-top: 30px;
    border-radius: 0px 10px 10px 0px;
}
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px
}
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: oswald;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    color: white;
}
.linkText {
    padding-left: 16px;
    
}

.sideitem:hover {
    background-color: orange;
    border-radius: 5px;

}
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}
